textarea {
    resize: none;
}

*::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

* {
    overflow-x:hidden;
}

.blur {
    padding-top: 115px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* background: rgba(255, 255, 255, 0.1); */
    backdrop-filter: blur(10px);
    z-index: 1050;
    
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.blur.active {
    opacity: 1;
    pointer-events: all; /* Enable interactions when active */
}