:root {
    --darkblue: #080f1d;
    --lightblue: #97b0de
}

*{
    scrollbar-width: none;
    -ms-overflow-style: none;
}
*::-webkit-scrollbar {
    display: none;
}

.snap-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

main-page,
censored-section,
words-list,
add-words {
    height: 100vh;
    scroll-snap-align: start;
    display: block;
}

body {
    background-color: var(--darkblue);
    color: var(--lightblue);
    font-size: 20px;
}

html{
    scroll-behavior: smooth;
}

textarea {
    font-size: 16px;
    height: 60vh;
    width: 100%;
    border: none;
    resize: none;
    background-color: rgba(0, 0, 0, 0);
    color: var(--lightblue)
}

textarea:focus {
    outline: none;
    /* caret-color: transparent; */
    text-align: left;

}

button {
    font-size: 20px;
    border-radius: 0;
    border: none;
    height: 40px;
    background-color: var(--lightblue);
    color: var(--darkblue)
}

thead {
    color: var(--darkblue);
}

td {
    color: var(--lightblue)
}

.bg-lightblue {
    background-color: var(--lightblue);
    color: var(--darkblue)
}

.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

.space-mono-regular-italic {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: italic;
}

.space-mono-bold-italic {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
}

.border-holo {
    border: 2px solid var(--lightblue);
    box-shadow: 0px 0px 5px 0px var(--lightblue);
}